@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body .h1 .h3 .p {
  color: white;
}

/* .img {
  width: 70px;
  height: auto;
  display: block;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  align-items: center;
} */
